<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<form method="post" action="/user/add">
    <div style = "color:red" th:if="${error}" class="form-group">
        <p th:text="${error}"></p>
    </div>
    <div class="form-group">
        <label>Username
            <input type="text" name="username" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Email
            <input type="email" name="email" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Password
            <input type="password" name="password" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input type="password" name="verify" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Add User" class="btn btn-success">
    </div>
</form>
</body>
</html>